<%= page_title 'hub.about.title' %>
<% content_for :feedback_source, 'ABOUT_PAGE' %>

<p>GOV.UK Verify fights the growing problem of online identity theft.</p>
<p>It’s simpler and faster than having to go somewhere in person, or wait for something in the post. You do it all online.</p>

<div class="actions">
  <%= link_to t('navigation.next'), about_certified_companies_path, class: 'button', id: 'next-button' %>
</div>